<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ws.pj.sys.dao.SysHotelDao">
  <sql id="queryWhereId">
  	from hotel
  	<where>
  		<if test="hotelName!=null and hotelName!=''">
  			hotelName like concat("%",#{hotelName},"%")
  		</if>
  	</where>
  </sql>
  
  <select id="getRowCount" resultType="int">
  	select count(*)
  	<include refid="queryWhereId"/>
  </select>
  
  <select id="findPageObjects" resultType="com.ws.pj.sys.pojo.SysHotel">
  	select *
  	<include refid="queryWhereId"/>
  	order by id desc limit #{startIndex},#{pageSize}
  </select>
  
  <select id="findHotelObject" resultType="com.ws.pj.sys.pojo.SysHotel">
  	select * from hotel where id=#{id}
  </select>
  </mapper>